{% extends 'base.html' %}
{% load static %}

{% block container %}
<style>
    /* Add this section for zig-zag layout */
    .row:nth-child(odd) .column-66 {
        float: right;
    }

    /* Original styles */
    .container {
        margin: auto;
        max-width: 1200px;
        width: 90%;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column-66,
    .column-33 {
        float: left;
        width: 48%;
        padding: 2%;
    }

    .large-font {
        font-size: 2em;
    }

    .xlarge-font {
        font-size: 3em;
    }

    .button {
        border: none;
        color: white;
        padding: 1em 2em;
        font-size: 1em;
        cursor: pointer;
        background-color: #04AA6D;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
        margin: auto;
    }

    /* Styles specific to the Former Committee page */
    .former-committee-section {
        padding: 4%; /* Adjusted padding for this specific section */
    }

    @media screen and (max-width: 768px) {
        .column-66,
        .column-33 {
            width: 100%;
            float: none;
        }

        .row {
            display: flex;
            flex-direction: column;
        }

        .column-33 {
            order: -1;
        }

        .large-font,
        .xlarge-font,
        .button {
            font-size: 1.2em;
        }

        .column-66,
        .column-33 {
            padding: 4%;
            margin-bottom: 4%;
        }

        .button {
            padding: 0.8em 1.6em;
        }

        /* Adjust padding for mobile view */
        .former-committee-section {
            padding: 4%;
        }
    }
</style>

<div class="stricky-header stricked-menu main-menu">
    <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
</div><!-- /.stricky-header -->

<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"
         style="background-image: url('{% static "assets/images/backgrounds/page-header-bg-1-1.jpg" %}')"></div>
    <!-- /.page-header__bg -->
    <div class="container">
        <h2>Former Committee</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li class="color-thm-gray">/</li>
            <li><span>Current Committee</span></li>
        </ul>
    </div>
</section>

<section class="events-page">
    <div class="container former-committee-section">
        <div class="row">
            <!-- The App Section -->
            <div class="container">
                <div class="row">
                    <div class="column-66">
                        <p>Prof.Dr. Kazi Nurul Islam - Islam</p>
                    </div>
                    <div class="column-33">
                        <h2 class="large-font" style="color:#15c8a0;"><b>Advisor</b></h2>
                    </div>
                </div>
            </div>

            <!-- Clarity Section -->
            <div class="container" style="background-color:#f1f1f1">
                <div class="row">
                    <div class="column-33">
                        <h2 class="large-font" style="color:#15c8a0;"><b>Executive Committee</b></h2>
                    </div>
                    <div class="column-66">
                        <ol>
                            <li> President -
                                Principal Sukomal Barua -
                                Buddhism
                            </li>
                            <li>
                                Executive President -
                                Prof.Ranajit Kumar Dey -
                                Hinduism
                            </li>
                            <li>
                                Vice President -
                                <ul>
                                    <li>
                                        Probangshu Tripura -
                                        Hindu(Tribal)
                                    </li>
                                    <li>
                                        Prof: Hirendra Nath Biswas -
                                        Hinduism
                                    </li>
                                </ul>

                            </li>

                            <li>
                                General Secretary -
                                Prof.Dr.NHM Abu Bakar -
                                Islam
                            </li>
                            <li>
                                Assistant General Secretary
                                <ul>
                                    <li> Mr. Dilip Barua -
                                        Buddhism
                                    </li>
                                    <li>
                                        Mr. Rahim Sarwar -
                                        Bahai Faith
                                    </li>
                                </ul>

                            </li>

                            <li>Treasurer -
                                Mr. Kanchan Barua -
                                Buddhism
                            </li>


                            <li> Organizing Secretary -
                                Mr. Ahamed Selim Reza -
                                Islam
                            </li>


                            <li> Office Secretary -
                                Mr. Ambrose Gomes -
                                Christianity
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <!-- The App Section -->
            <div class="container">
                <div class="row">
                    <div class="column-66">
                        <ol>
                            <li>Prof.Dr.Rasheda Khanam
                                - Islam
                            </li>
                            <li>Eng. Dipak Kisha
                                - Buddhism(Tribal)
                            </li>
                            <li>Dr.Aung Tha Loo
                                - Buddhism(Tribal)
                            </li>
                            <li>Principal Kyaw Thing Aung
                                - Buddhism (Rakhine)
                            </li>
                            <li>Mr. Robert Gomes
                                - Christianity
                            </li>
                            <li>Adv.Shafiqul Rahman
                                - Islam
                            </li>
                            <li>Prof.Dr.Mohammad Kamrul Ahsan
                                - Islam
                            </li>
                            <li>Dr.Prodip Roy
                                -Hinduism
                            </li>
                            <li>Mrs.Ayesha Jabin
                                - Islam
                            </li>
                        
                        </ol>
                    </div>
                    <div class="column-33">
                        <h2 class="large-font" style="color:#15c8a0;">Members</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
