{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url('{% static "assets/images/backgrounds/page-header-bg-1-1.jpg" %}')"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2>News</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li class="color-thm-gray">/</li>
                <li><span>News</span></li>
            </ul>
        </div>
    </section>

    <section class="news-page">
        {% if tag %}
            <h2 class="mb-3">Posts tagged with "{{ tag.name }}"</h2>
        {% endif %}
        <div class="container">

            <div class="row">
                {% for news in newss %}
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                        <!--News Two Single-->
                        <div class="news-two__single">
                            <div class="news-two__img-box">
                                <div class="news-two__img">
                                    {% if news.image_header %}
                                        <img src={{ news.image_header.url }} alt="{{ news.news_title }}">
                                    {% endif %}
                                    <a href={{ news.get_absolute_url }}>
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="news-two__date">
                                    <p>{{ news.nw_publish |date:"M d, Y" }}</p>
                                </div>
                            </div>

                            <div class="news-two__content">

                                <ul class="list-unstyled news-two__meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> {{ news.news_author }}</a></li>

                                    {#                                    <li><span>/</span></li>#}
                                    {#                                    <li><a href="#"><i class="far fa-comments"></i>{{ news.nw_publish }}</a>#}
                                    {#                                    </li>#}
                                </ul>
                                <h3>
                                    <a href={{ news.get_absolute_url }}>{{ news.news_title }}</a>
                                </h3>
                                <p class="news-two__text">{{ news.news_body | truncatechars:110 | safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

        <div class="sidebar__single sidebar__tags">
            <h3 class="sidebar__title">Popular Tags</h3>
            <p>meow</p>
{#            <div class="sidebar__tags-list">#}
{#                {% for tag in news.news_tags %}#}
{#                    <a href="{% url 'blog:post_tag' tag.slug %}"#}
{#                       class="link-light text-decoration-none badge bg-secondary">#}
{#                        {{ tag.name }}#}
{#                    </a>#}
{#                    <!-- {% if not forloop.last %}, {% endif %} -->#}
{#                {% endfor %}#}
{##}
{#            </div>#}
        </div>
    </section>

{% endblock %}