{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->

    <!--Page Header Start-->
    <section class="page-header">
        <div class="page-header__bg"
             style="background-image: url('{% static "assets/images/backgrounds/page-header-bg-1-1.jpg" %}')"></div>
        <!-- /.page-header__bg -->
        <div class="container">
            <h2>Flagship Projects</h2>
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">Home</a></li>
                <li class="color-thm-gray">/</li>
                <li><span>Flagship Projects</span></li>
            </ul>
        </div>
    </section>


    <section class="reports-page">
        <div class="container">

            <section class="events-page">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!--Events One Single-->
                        <div class="events-one__single">
                            <div class="events-one__img">
                                <img src= "{% static 'assets/images/resources/events-page-img-1.jpg' %}" alt="">

                                <div class="events-one__bottom">
                                    <h3 class="events-one__bottom-title"><a href="{{ project.get_absolute_url }}"><h5 class="reports-title">{{ project.pr_title }}</h5>
                                             </a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
        </div>
    </section>
    {#    <embed src="{{ report.url }}" width='50%' height='100%' allow="autoplay">#}

{% endblock %}