<!--templates/blog/blog_detail.html-->
{% extends 'base.html' %}
{% block container %}
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->
    <div class="row" style="display: flex; text-align: center">
        <div class="card">
            <h5 class="card-header">{{ project.pr_title }}</h5>
            <div class="card-body" style="justify-content: center">
                <h5 class="card-title">Posted on {{ project.date |date:"M d, Y" }}</h5>
                <embed src="{{ project.url }}" width="640" height="480" allow="autoplay">
            </div>
        </div>
    </div>
{% endblock %}