<!--templates/blog/blog_detail.html-->
{% extends 'base.html' %}
{% block container %}
    <div class="stricky-header stricked-menu main-menu">
        <div class="sticky-header__content"></div><!-- /.sticky-header__content -->
    </div><!-- /.stricky-header -->
    <div class="row" style="display: flex; text-align: center">
        <div class="card">
            <h5 class="card-header">{{ report.rp_title }}</h5>
            <div class="card-body" style="justify-content: center">
                <h5 class="card-title">Posted on {{ report.date |date:"M d, Y" }}</h5>
                <embed src="{{ report.url }}" width="640" height="480" allow="autoplay">
                 <div class="sidebar__single sidebar__tags">
                            <h3 class="sidebar__title">Tags</h3>
                            <div class="sidebar__tags-list">
                                {% for tag in report.tags.all %}
                                    <a href="{% url 'blog:report_tag' tag.slug %}"
                                       class="link-light text-decoration-none badge bg-secondary">
                                        {{ tag.name }}
                                    </a>

                                {% endfor %}
                            </div>
                        </div>
            </div>
        </div>
    </div>
{% endblock %}